.Container {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 400px;
    
  }
  
  .Form {
    width: 300px;
    padding: 20px;
    /* padding-top: 10px; */
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .Label {
    display: block;
    margin-bottom: 15px;
    color: #130a4d;
  }
  
  .Input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  .Button {
    background-color: #130a4d;
    color: white;
    /* padding: 10px 15px; */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    margin-left: 65px;
  }
  
  .Button:hover {
    background-color: #2e2371;
  }
  